html, body, div, label, input {
	font-size:20pt;
	font-family: "Liberation Sans";
}
body {
	background-color: #ccc;
}
input {
	font-size:24pt;
}
.outer-container {
    position: absolute;
    flex-direction: column;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	background-color: #666;
}
.centered-content {
    display: inline-block;
    text-align: left;
    padding: 50px;
	border-radius: 25px;
}
#server1Div {
	background-color: #6fc276;
}
#server2Div {
	background-color: #ff99b3;
}
.offline {
	background-color: #ccc !important;
}